    <section id="{{ word.word }}">
      <div class="page-header">
        <h3>{{ word.word }}</h3>
      </div>

      {{{ word.definition }}}
    </section>

 <li>
{{ word.word }} :
</br>
    {{{word.definition}}}
</li>