!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(itemprop="name" content="Zzzytology")
    %meta(itemprop="description" content="Zzzytology is fun way to create and discover new words.")
    %meta(name="keywords" content="Zzzytology,Inventing Words,liff,sniglet")
    %meta(name="msvalidate.01" content="C3BB1D13A544DC5FDE26074DCF649469")
    %title Zzzytology: the last word in invented words ;)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"}
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
    = yield :head
    = javascript_tag yield :javascript
    = google_analytics_js
    = csrf_meta_tags
  %body
    %a{ :href => "https://github.com/etewiah/zzzytology" }
      %img{ :src => "http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :style => "position: fixed; right: 0; top: 0; z-index: 1033" }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "../"}  
            Zzzytology 
          %ul.nav{ :style => "margin-left:600px" }
            = main_topnav_tab("/", "Home")
            = main_topnav_tab("/pages/about", "About")
    .hero-unit.span12{ :style => "padding: 10px;margin-left:60px" }
      .container
        %h3
          Zzzytology is the place to find and create words that need to exist.
        %p 
          Currently, this site is a work in progress but you can create a word.  I promise I will preserve any words that are created now :)

    #mainContainer.container
      .row
        .span9{ :style => "margin-top:0px" }
          = yield
        .span3{ :style => "margin-top:0px; " }
          .well.sidebar-nav.affix{ :style => "top:180px; width:200px " }
            #fb-root
            .fb-like{"data-send" => "true", "data-layout" => "button_count", "data-show-faces" => "true", "data-width" => "350"}
          .well.sidebar-nav.affix{ :style => "top:260px; width:200px  " }
            %g:plusone{"annotation" => "inline"}
          %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
          #twtr-widg





:javascript
  $(document).ready(function() {
    return Zzzytology.init("#{backbone_root_path}");
  });

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    //js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=198304550296472";
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{ ENV["FACEBOOK_KEY"] }";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
